/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/tenant_*
/stubs/**/*.stub
!/stubs/console.stub
!/stubs/fontawesome.stub
!/stubs/jellybean/**/*
!/stubs/job.queued.stub
!/stubs/livewire-sfc.stub
!/stubs/mail.stub
!/stubs/migration.*
!/stubs/model.stub
!/stubs/observer.stub
!/stubs/platforms/class.stub
!/stubs/platforms/migration/**/*
!/stubs/platforms/model.stub
!/stubs/platforms/observer.stub
!/stubs/platforms/phpunit.stub
!/stubs/platforms/routes/**/*
!/stubs/platforms/views/**/*
tests/Browser/Screenshots/
tests/Coverage/
tests/.pest/
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/Platforms/*
storage/app/platform_statuses.json
.devdbrc
.gitmodules
.gitconfig
.vite
!.vscode
