name: Deploy

on:
    push:
      branches:
        - main

permissions:
  contents: write

jobs:
  #linter:
  #  runs-on: ubuntu-latest
  #  environment: Testing
  #  steps:
  #    - uses: actions/checkout@v5
  #
  #    - name: Setup PHP
  #      uses: shivammathur/setup-php@v2
  #      with:
  #        php-version: '8.4'
  #
  #    - name: Add Flux Credentials Loaded From ENV
  #      run: composer config http-basic.composer.fluxui.dev "${{ secrets.FLUX_USERNAME }}" "${{ secrets.FLUX_LICENSE_KEY }}"
  #
  #    - name: Install Dependencies
  #      run: |
  #        composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  #        npm install
  #
  #    - name: Run Pint
  #      run: composer lint
  #
  #    # - name: Commit Changes
  #    #   uses: stefanzweifel/git-auto-commit-action@v7
  #    #   with:
  #    #     commit_message: fix code style
  #    #     commit_options: '--no-verify'
  #    #     file_pattern: |
  #    #       **/*
  #    #       !.github/workflows/*
#   testing:
    # runs-on: ubuntu-latest
    # environment: Testing
    # strategy:
    #   matrix:
        # php-version: ['8.4', '8.5']
    #
    # steps:
    #   - name: Checkout
        # uses: actions/checkout@v4
    #
    #   - name: Setup PHP
        # uses: shivammathur/setup-php@v2
        # with:
        #   php-version: ${{ matrix.php-version }}
        #   tools: composer:v2
        #   coverage: xdebug
    #
    #   - name: Setup Node
        # uses: actions/setup-node@v4
        # with:
        #   node-version: '22'
    #
    #   - name: Install Node Dependencies
        # run: npm i
    #
    #   - name: Add Flux Credentials Loaded From ENV
        # run: composer config http-basic.composer.fluxui.dev "${{ secrets.FLUX_USERNAME }}" "${{ secrets.FLUX_LICENSE_KEY }}"
    #
    #   - name: Install Dependencies
        # run: composer install --no-interaction --prefer-dist --optimize-autoloader
    #
    #   - name: Copy Environment File
        # run: cp .env.example .env
    #
    #   - name: Generate Application Key
        # run: php artisan key:generate
    #
    #   - name: Build Assets
        # run: npm run build
    #
    #   - name: Run Tests
        # run: ./vendor/bin/pest
  deploy-production:
    name: Deploy Project to Production Server
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: '8.4'
          extensions: mbstring, bcmath

      - name: Add Flux Credentials Loaded From ENV
        run: composer config http-basic.composer.fluxui.dev "${{ secrets.FLUX_USERNAME }}" "${{ secrets.FLUX_LICENSE_KEY }}"

      - name: Composer install
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Deploy
        uses: deployphp/action@v1
        with:
            dep: deploy -o keep_releases=3
            private-key: ${{ secrets.SSH_PRIVATE_KEY }}
